.header__lang-link {
    height: fit-content;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: 2s;
}

@media screen and (max-width: 450px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .header__lang-link {
        margin-top: 14px;
    }
}