.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-top: 80px;
    padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .place__title {
      font-size: 32px;
      line-height: 35px;
      margin-top: 50px;
      padding-bottom: 32px;
    }
}

@media screen and (max-width: 925px) {
    .place__title {
      line-height: 46px;
      font-size: 42px;
      max-width: 330px;
    }
}

@media screen and (max-width: 400px) {
  .place__title {
    margin-left: 2%;
  }
}
