.photo-grid {
    width: 92%;
    min-width: 320px;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 10px;
    padding-top: 80px;
    margin: 0;
}