.places {
    width: 75%;
    min-width: 320px;
    max-width: 1000px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    .places {
        width: 100%;
    }
}