.places {
    width: 90%;
    min-width: 288px;
    max-width: 984px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .places {
        width: 94%;
    }
}

@media screen and (max-width: 400px) {
    .places {
        width: 100%;
    }
}