.lead {
    min-width: 320px;
    width: 80%;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
}

@media screen and (max-width: 800px) {
    .places {
        width: 100%;
    }
}