.header {
  min-width: 300px;
  width: 100%;
  max-width: 1184px;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 28px;
}

@media screen and (max-width: 1100px) {
  .header {
      width: 92%;
  }
}

@media screen and (max-width: 800px) {
  .header {
      width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding-top: 16px;
  }
}