.lead__title {
    text-align: center;
    min-width: 50%;
    max-width: 720px;
    margin: 0 auto;
    line-height: 86%;
    font-size: 96px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .lead__title {
      line-height: 91%;
      font-size: 40px;
      font-weight: 900;
    }
}