.footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 94%;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 740px) {
    .footer__copyright {
        margin-top: 48px;
        margin-left: 3%;
        text-align: left;
    }
}