.intro {
    width: 100%;
    min-width: 320px;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    align-self: flex-start;
    margin-right: auto;
}