.intro {
    width: 80%;
    min-width: 288px;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 1050px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        width: 95%;
    }
}