.cover {
    margin-top: 90px;
    width: 100%;
    min-width: 320px;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

@media screen and (max-width: 800px) {
    .cover {
        margin-top: 120px;
    }
}

@media screen and (max-width: 450px) {
    .cover {
        margin-top: 65px;
        min-width: 288px;
    }
}