.cover {
    margin-top: 125px;
    width: 100%;
    min-width: 320px;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.cover:hover {
    filter: brightness(40%);
    transition: 1s ease-in-out;
}