.place__link {
    color: white;
    text-decoration: underline;
    margin: 0;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 101%;
    width: fit-content;
}

.place__link:hover {
    opacity: 0.8;
    transition: 2s;
}

@media screen and (max-width: 700px) {
    .place__link {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 400px) {
    .place__link {
        margin-left: 2%;
    }
}