.place__link {
    color: white;
    text-decoration: underline;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 101%;
}

.place__link:hover {
    opacity: 0.3;
    transition: 2s;
}