.cover__title {
    text-align: center;
    font-size: 72px;
    line-height: 87%;
    font-weight: 900;
    width: 60%;
    min-width: 288px;
    max-width: 560px;
    margin: 20% auto 0;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .cover__title {
      line-height: 90%;
      font-size: 32px;
      font-weight: 900;
    }
}