.footer {
    padding-top: 105px;
    padding-bottom: 25px;
    width: 90%;
    min-width: 320px;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 620px) {
    .footer {
        flex-direction: column;
    }
}