.footer {
    padding-top: 75px;
    padding-bottom: 25px;
    width: 100%;
    min-width: 288px;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 740px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        width: 90%;
        padding-top: 98px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        padding-top: 95px;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        width: 94%;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        padding-top: 30px;
    }
}