.intro__title {
    margin: 90px 0 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 690px;
}

@media screen and (max-width: 767px) {
    .intro__title {
      line-height: 35px;
      font-size: 32px;
      margin-top: 65px;
    }
}